/Pixel Wars/Pixel Wars.vcxproj
/Pixel Wars/Pixel Wars.vcxproj.filters
/Pixel Wars/Pixel Wars.vcxproj.user
/Pixel Wars/Release Static
/Pixel Wars/Debug
/Pixel Wars/Pixel Wars/Pixel Wars
/Pixel Wars/Pixel Wars/Release Static
*.sdf
*.suo